body{
background-color: #5089C6;
border-left: 9px solid #FFAA4C;
border-right: 9px solid #FFAA4C;
}

/* color-palette
#B5EAEA
#7DEDFF */


/* First Section with the photo */
#photo-section{

}

.mainphoto1{
  max-width: 100%;
}

.container-photo{
  position: relative;
  width: 100%;
}

.title-text{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* NavBAr Section */
.navbar{
  background-color: #FFAA4C;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.nav-link{
  margin: 0 30px;
}

/* About me section */


h1, h3{
  display: inline;
}

h1{
  text-decoration: underline;
}

#about-me{
  margin: 10% 0 ;
padding: 20px 0;

}

.dimi-container{
  margin-bottom: 10%;
}


.dimiphoto{
  width: 20%;
  border-radius: 180px;
  float: left;
  margin-right: 7%;
  border-bottom: 12px double #FFAA4C;
  border-left:  12px double #FFAA4C;
  border-right: 12px double #FFAA4C;

}

.webphoto{
  float: right;
  width: 30%;
  margin-left: 7%;
  border-radius: 200px;
  border-bottom: 12px double #FFAA4C;
  border-left:  12px double #FFAA4C;
  border-right: 12px double #FFAA4C;
}

.col-sm{
  display: block;
overflow: hidden;
position: relative;

}

@media (max-width: 600px){
  .dimi-container{
    margin-bottom: 25%;
  }

   .dimiphoto{
    width:30%;
  }
}


/* testings */
