body{
background-color: #5089C6;
border-left: 9px solid #FFAA4C;
border-right: 9px solid #FFAA4C;
border-bottom: 9px solid #FFAA4C;
}

/* color-palette

#FABB51 - card headers
#FFAA4C - border
#5089C6 - background
#35589A - second background
*/

h2,p{
  font-family: 'Roboto', sans-serif;
}

/* First Section with the photo */

.mainphoto1{
  max-width: 100%;
}

.container-photo{
  position: relative;
  width: 100%;
}

.image-text{
  color: #344CB7;
  font-size: 2.7rem;
text-shadow: 1px 0px 1px #FABB51, 0px 1px 1px #FABB51, 2px 1px 1px #FABB51, 1px 2px 1px #FABB51, 3px 2px 1px #FABB51, 2px 3px 1px #FABB51, 4px 3px 1px #FABB51, 3px 4px 1px #FABB51, 5px 4px 1px #FABB51, 4px 5px 1px #FABB51, 6px 5px 1px #FABB51, 5px 6px 1px #FABB51, 7px 6px 1px #FABB51;
}

.title-text{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* NavBAr Section */
.navbar{
  background-color: #FFAA4C;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.nav-link{
  margin: 0 30px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #35589A;

}

/* About me section */


.first-h1, .first-h3{
  display: inline;

}

.first-h1{
  font-family: 'Merriweather', serif;
  /* font-weight: bold; */


}

.first-h3{
  font-family: 'Roboto', sans-serif;
  padding: 7%;

}

.first-h3:hover{
  font-size: 2.0rem;
}

#about-me{
  margin: 10% 0 ;
padding: 20px 0;

}

.dimi-container{
  margin-bottom: 10%;
}


.dimiphoto{
  width: 20%;
  border-radius: 180px;
  float: left;
  margin-right: 7%;
  border-bottom: 12px double #FFAA4C;
  border-left:  12px double #FFAA4C;
  border-right: 12px double #FFAA4C;

}

.webphoto{
  float: right;
  width: 30%;
  margin-left: 7%;
  border-radius: 200px;
  border-bottom: 12px double #FFAA4C;
  border-left:  12px double #FFAA4C;
  border-right: 12px double #FFAA4C;
}

.col-sm{
  display: block;
overflow: hidden;
position: relative;

}

@media (max-width: 600px){
  .dimi-container{
    margin-bottom: 25%;
  }

   .dimiphoto{
    width:30%;
  }
}

/* Services Section */

#services{
  background-color: #35589A;
  padding: 5% 7%;
  text-align: center;
  position: relative;
}


.row{
  position: relative;
  padding: 4%;
}

.card{
  margin: 7%;
  border: 0px;


}

.card-img-top{
  background-color: #FABB51;

}

.second-image{
  border-radius: 30px;
}

.card-body{
  background-color:#5089C6;
  font-size: 1.3rem;
  color: #161E54;
}

.card-header{
  background-color: #FFAA4C;
}

.h3-card:hover{
  font-weight: bold;

  color: #35589A;
}

.price{
  text-decoration: underline;
  color: #35589A;
}

.card-body:hover{
  font-weight: bold;
  color: #35589A;
  font-size: 1.5rem;
}
.btn{
  font-weight: bold;
}
.btn:hover{
  background-color: #FABB51;
  color:#5089C6;

}

/* Footer section */
#footer{
  text-align: center;
}


.fa-3x{
  margin-right: 10px;
}

.footer-link{
  color: #FABB51;
  font-size: 2.0rem;;
  text-decoration: none;
}

.footer-box{
  margin-bottom: 20px;
}

.fa-3x:hover{
  color: #FFAA4C;
}

/* testings */
